.inputLabel {
	display: block;
	clear: both;
	margin-bottom: 0.2em;
	color: #5F6862;
	font-size: 8px;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.inputInput {
	display: block;
	clear: both;
	border-radius: 0;
	box-shadow: none;
	-webkit-appearance: none;
	padding: 0.6em 0.6em;
	margin-bottom: 0.5em;
	width: 420px;
	box-sizing: border-box;
	outline: none;
	border: 2px solid #D3D7D4;
	background: #F9F9F9;
	transition: 0.15s all ease-in-out;
}