@import '../../../../../../../../../shared/components/util/horizontalcenterer/horizontalcenterer.css';
@import '../../../../../../../../../shared/components/util/verticalcenterer/verticalcenterer.css';
/* @import '../../../../../../../../../shared/components/util/input/input.css'; */

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

.loginContainer {
	width: 420px;
}

.loginContainer > * {
	margin-bottom: 18px;
}

.loginHeader {
	font-size: 120%;	
}